.competition_container {
	display: flex;
	flex-direction: row;
	gap: 40px;

	.competition_details {
		display: flex;
		flex-direction: column;
		gap: 20px;

		.challenges,
		.users {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 20px;
		}
	}
}
