<nav class="title_button_container">
	<a class="button item" routerLink="/"><i class="ri-arrow-go-back-line"></i> Retour</a>
	<a class="button item" [routerLink]="['/create/challenge', this.competitionId]"><i class="ri-function-add-line"></i> Ajouter une épreuve</a>
	<a class="button item" [routerLink]="['/create/user', this.competitionId]"><i class="ri-user-add-line"></i> Ajouter un participant</a>
</nav>

<div class="competition_container">
	<tile-competition
		[competition]="competitonService.getInfos(this.competitionId)"
	></tile-competition>

	<div class="competition_details">
		<h1>Participants</h1>
		<div class="users">
			<ng-container *ngFor="let user of competitonService.getUsers(this.competitionId)">
				<a *ngIf="userService.getInfos(user).role == 2" [routerLink]="['/users', userService.getInfos(user).id]">
					<tile-user [user]="userService.getInfos(user)"></tile-user>
				</a>
				<ng-container *ngIf="userService.getInfos(user).role != 2">
					<tile-user [user]="userService.getInfos(user)"></tile-user>
				</ng-container>
			</ng-container>
		</div>

		<h1>Epreuves</h1>
		<div class="challenges">
			<div *ngFor="let challenge of competitonService.getInfos(this.competitionId).challenges">
				<tile-challenge
					[challenge]="challengeService.getInfos(challenge)"
				></tile-challenge>
			</div>
		</div>
	</div>
</div>
