.navbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: var(--background-color);
	color: var(--text-color);
	border: solid 2px var(--primary-color);
	border-radius: 9px;
	margin: 10px;
	padding: 5px 20px;

	.title {
		padding-left: 20px;
		font-size: 30px;
	}

	.item {
		display: flex;
		flex-direction: row;
		font-size: 20px;

		.element {
			padding: 10px 20px;
			transition: 200ms;
			border-radius: 9px;

			&:hover {
				color: var(--text-hover-color);
				transition: 200ms;
				background-color: var(--accent-hover-color);
			}
		}
	}

	a {
		text-decoration: none;
		color: var(--text-color);
		cursor: pointer;
	}
}

main {
	margin: 20px;
}
