<div class="competition_container">
	<tile-competition *ngFor="let competition of competitonService.getCompetitions()"
		[competition]="competition"
	></tile-competition>
	<!-- <h1>Compétitions</h1>
	<a *ngFor="let competition of competitonService.getCompetitions()" [routerLink]="['/competition', competition.id]">
		<div class="tile competition">
			<h2>{{ competition.name }}</h2>
			<p>Organisateur : </p>
			<p>Participants : {{ competitonService.getUsers(competition.id).length }}</p>
			<p>Date : </p>
			<p>État : </p>
		</div>
	</a> -->
</div>
