<div class="tile user_tile">
	<div class="content">
		<label>Nom</label>
		<p>{{ challenge.name }}</p>
	</div>
	<div class="content">
		<label>Description</label>
		<p>{{ challenge.description }}</p>
	</div>
	<div class="content">
		<label>Outils</label>
		<p>
			<span *ngFor="let tool of challenge.tools; let last = last">
				{{ tool | titlecase }}<span *ngIf="!last">, </span>
			</span>
		</p>
	</div>

	<div class="action_button_container">
		<a class="action_button" [routerLink]="['/edit/challenge', this.challenge.id]"><i class="ri-pencil-line"></i></a>
		<a class="action_button" (click)="this.challengeService.delete(this.challenge.id)"><i class="ri-delete-bin-line"></i></a>
	</div>
</div>
