.user_tile {
	padding: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 14px;
	width: 300px;
	position: relative;
	padding-bottom: 30px;

	i:not(.action_button_container i) {
		position: absolute;
		top: 10px;
		right: 10px;
		font-size: 20px;
		pointer-events: none;
	}

	.content {
		display: flex;
		flex-direction: column;
		gap: 10px;

		label {
			font-size: 16px;
			opacity: 70%;
		}

		p {
			font-size: 18px;
		}
	}
}
